
.nav-top{
    background: rgb(77, 151, 184);
}

.nav-top .navtopheading{
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: white;

}
.navbar-top .navbar-collapse ul li a:hover{
    color: rgb(202, 202, 202);

}

.navbar-top{
     background: rgb(82, 158, 191);
}

.navbar-top .nav-item .nav-link{
    color: white;
    font-size: 17px;
}

.navbar-top .navbar-brand{
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.navbar .navbar-toggler i{
    color: white;
}

.footer-top{
    background: rgb(82, 158, 191);
}

.footer-top .footerheading h4{
font-size: 22px;
color: white;
font-weight: 500;
text-align: center;
margin-top: 10px;
margin-bottom: 14px;
}

.footer-top ul{
    list-style-type: none;
}

.footer-top ul li a{
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.footer-top ul li a:hover{
    color: rgb(202, 202, 202);
}

.subscribenewsletter span{
    color: white;
}

.form-group  label{
    color: white;
}

/* footer bottom */

.footer-bottom{
    background: rgb(77, 151, 184);
    color: white;
}

.footer-bottom .footer-bottom-icon i{
    color: white;
    font-size: 25px;
    padding: 5px;
}

.footer-bottom .footer-bottom-icon i:hover{
    color: rgb(202, 202, 202);
}
.step h5{
    font-weight: 400;
}
.card{
    border-radius: 50px;
}
