/* nav top */
.nav-top{
    background: rgb(77, 151, 184);
}

.nav-top .navtopheading{
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.nav-top .nav-top-anchor a{
    color: white;
    font-size: 17px;
    text-decoration: none;
}

.nav-top .nav-top-anchor a i{
    font-size: 20px;
}

.nav-top .nav-top-anchor a:hover{
    color: rgb(219, 218, 218);
}

.nav-top .nav-top-icon a i{
    font-size: 20px;
    color: white;
    padding: 4px;
    transition: 200ms ease-in;
}

.nav-top .nav-top-icon a i:hover{
   color: rgb(219, 218, 218);
   transform: scale(1.3);
}
/* nav top end */


/* navbar top */
.navbar-top{
     background: rgb(82, 158, 191);
}

.navbar-top .nav-item .nav-link{
    color: white;
    font-size: 17px;
}

.navbar-top .nav-item .nav-link:hover{
    color: rgb(219, 218, 218);
}

.navbar-top .navbar-brand{
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.navbar .navbar-toggler i{
    color: white;
}
/* navbar top end */


/* after navbar section  */

section{
    margin-bottom: 60px;
}

section .section-heading h2{
    font-size: 29px;
    font-weight: 600;
    color: rgb(82, 158, 191);
}

section .section-heading h3{
    font-size: 25px;
    font-weight: 500;
    color: rgb(82, 158, 191);
}

section .section-heading h4{
    font-size: 21px;
    font-weight: 500;
    color: rgb(82, 158, 191);
}

section .section-heading h5{
    font-size: 18px;
    font-weight: 500;
    color: rgb(82, 158, 191);
}

.ecommerce-section{
    padding: 20px;
    background: rgb(241, 241, 241);
}

section .ecommerce-sec hr{
    width: 80px;
    height: 1px;
    border: 1px solid rgb(77, 151, 184);
    background: rgb(77, 151, 184);
    text-align: center;
}

section .ecommerce-sec .icon-box{
    box-shadow: 0px 0px 20px rgb(212, 212, 212);
    border-radius: 10%;
    transition: 4ms all;
}

section .ecommerce-sec .icon-box:hover{
    box-shadow: 0px 0px 20px rgb(190, 190, 190);
    transform: scale(1.01);
}

section .ecommerce-sec .icon-box a{
    text-decoration: none;
    color: rgb(102, 102, 102);
}

section .ecommerce-sec .icon-box a:hover{
    color: rgb(148, 148, 148);
}


section .ecommerce-sec .icon-box .card{
    /* border: none; */
    border: white;
    border-radius: 10%;
} 

section .webdemobtn a{
background: rgb(77, 151, 184);
color: white;
}

section .webdemobtn a:hover{
    background: rgb(77, 164, 189);
    color: rgb(238, 238, 238);
}

/* Get Your Website Online In 3 Easy Steps  */
.step .stepheading{
    font-size: 17px;
    font-weight: 600;
}

/* pricing and plan */
section .ecommerce-sec .plan-pricing .plan{
    background-color: rgb(211, 211, 211);
}




/* footer top */
.footer-top{
    background: rgb(82, 158, 191);
}

.footer-top .footerheading h4{
font-size: 22px;
color: white;
font-weight: 500;
text-align: center;
margin-top: 10px;
margin-bottom: 14px;
}

.footer-top ul{
    list-style-type: none;
}

.footer-top ul li a{
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.footer-top ul li{
    padding: 3px;
}

.footer-top ul li a:hover{
    color: rgb(219, 218, 218);
}

.footer-top ul li a i{
    font-size: 19px;
}

.subscribenewsletter span{
    color: white;
}

.form-group  label{
    color: white;
}

/* subscribe right bottom-top part */
.subscribe-now .btnsubmit{
    color: white;
    background: rgb(77, 151, 184);
    font-weight: 500;
}

.subscribe-now .btnsubmit:hover{
    background: rgb(82, 158, 191);
    color: rgb(235, 233, 233);
}

.subscribe-now #exampleFormControlInput1{
    text-align: center;
}
/* ====footer top end==== */

/* footer bottom */
.footer-bottom{
    background: rgb(77, 151, 184);
    color: white;
}

.footer-bottom .footer-bottom-icon i{
    color: white;
    font-size: 25px;
    padding: 5px;
    transition: 200ms ease-in;
}

.footer-bottom .footer-bottom-icon i:hover{
    color: rgb(202, 202, 202);
    transform: scale(1.2);
}
/* footer bottom end */

/* demo icons on left side footer */
.demoicons{
    position: fixed;
    bottom: 10px;
    left: 10px;
    text-align: center;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    z-index: 1;
}